*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}


button {
    border: none;
    background: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}



/*----------------------UTILITIES--------------------*/

.w-1252 {
    max-width: 1252px;
    width: min(100%, 92vw);
    margin: 0 auto;
}

.brand {
    font-weight: 600;
    color: #001858;
    font-size: 36px;
}

.brand-dot {
    font-weight: 700;
    font-size: 18px;
    color: #6246EA;
}


.btn-primary {
    background-color: #6246EA;
    color: #FFFFFE;
    padding: 20px 23px 19px 23px;
    border-radius: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.btn-primary:hover {
    filter: brightness(0.9);
}

.input-primary {
    background-color: #FFFFFE;
    width: 444px;
    padding: 25px 200px 21px 25px;
    outline: none;
    border: none;
    margin-right: 20px;
    border-radius: 8px;
}

.input-primary::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: #C0C0C0;
}

.input-primary:focus{
    outline:2px solid #C0C0C0;
    opacity:1;
    border-radius:5px;
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.section-heading h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
}

.section-heading a {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}

.section-heading a svg {
    vertical-align: middle;
}

a:focus-visible, button:focus-visible, input:focus-visible{
    outline:2px solid #6246EA;
    outline-offset:2px;
}

/*-----------------------------HEADER----------------------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #EFF0F3;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(229, 232, 237, 0.6);
    min-height: 86px;

}

.header__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #2B2C34;
}

header nav button {
    font-size: 18px;
    font-weight: 700;
    background-color: #6246EA;
    color: #fff;
    text-align: center;
    padding: 10px 17px;
    border-radius: 4px;
}

header nav button:hover {
    filter: brightness(0.9);
}


/*-----------------------------HERO----------------------------------------*/

main {
    width: 100%;
    background-color: #EFF0F3;
}

main .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 900px;
}

.hero .hero__content {
    width: 664px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-right: 118px;
}

.hero .hero__content h1 {
    font-size: 64px;
    font-weight: 700;
}

.hero .hero__content h1 span {
    display: block;
}

.hero .hero__content p {
    font-size: 20px;
    font-weight: 400;
    color: #9A9494;
    border-left: 3px solid #2B2C34;
    padding-left: 10px;
}
.hero .hero__content p span {
    display: block;
}


    /*--------------------------------------------CATEGORIES----------------------------------------*/

.categories {
    height: auto;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.categories__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
}

.categories__item {
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background-color: #FFFFFE;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 24px;
    gap: 30px;
    padding-left: 15px;
}

.categories__item:hover {
    background-color: #6246EA;
    color: #fff;
    transition-duration: 0.6s;
}


/*-----------------------------------------GALLERY----------------------------------*/
.gallery {
    padding: 80px 0 80px 0;
    background-color: #FFFFFE;
    width: 100%;
}

.gallery__container {
    width: 100%;
    gap: 80px;
}

.gallery__items-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 80px;
}

.gallery__item {
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    width: 300px;
    height: 425px;
    cursor: pointer;
    transition: .7s;
    border-radius: 12px;
}

.gallery__item:hover {
    transform: translate(-4px, -6px);
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.gallery__item > img {
    width: 260px;
    height: 198px;
    border-radius: 13px;
    display: block;
    margin-bottom: 25px;
    object-fit: cover;
    object-position: center;
}


.gallery__item > h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
}

.gallery__item .author {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__item .author img {
    width: 57px;
    height: 57px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.gallery__item .author p {
    font-size: 14px;
    font-weight: 400;
    color: #2A2A2A;
}

.gallery__item .author p span{
    font-size: 16px;
    font-weight: 600;
    color: #2B2C34;
    display: inline-block;
    margin-bottom: 5px;
}

.gallery__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------------------------SUBSCRIBE--------------------------------*/
.subscribe {
    width: 100%;
    background-color: #EFF0F3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 453px;
}

.subscribe__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.subscribe__content h2 {
    font-size: 36px;
    text-transform: capitalize;
    color: #2B2C34;
}

.subscribe__content p {
    font-size: 20px;
    font-weight: 400;
    color: #C0C0C0;
}

/*--------------------------------------------FOOTER---------------------------------*/

footer {
    padding-top: 50px;
    width: 100%;
    height: auto;
    min-height: 435px;
    background-color: #E4E5E9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #C0C0C0;
}

.footer__structure {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    column-gap: 95px;
    justify-content: space-between;
    align-content: start;
}

.footer__icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.footer__icons p {
    font-size: 18px;
    font-weight: 400;
    color: #2B2C34;
}

footer .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.footer__structure > *:not(:first-child) ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__structure > *:not(:first-child) ul li {
    font-size: 18px;
    font-weight: 400;
}

.footer__structure div:not(:first-child) ul li:first-of-type {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.copyright {
    width: 1252px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    font-size: 14px;
    font-weight: 400;
}